.header {
    padding-top:;
}

.header-container {
    background-color: #1f2937;
    padding: 50px;
}

.logo {
   
    
    
}

.header-links{
    
}

.nav {
    width: 100%;
    position: relative;
    top: 0;
    }

.hero-text {
    color: #F9FAF8;
    font-size: 48px;
    font: extra-bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    display: inline;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    position: relative;
    bottom: 100%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  .holder  {
    width: auto;
    display: inline-block;  
    
  }


.holder img {
    width: 30%; /* Will shrink image to 30% of its original width */
    height: auto;    
  }​