.header {
    background-color: #1f2937;
    padding: 100px;
}

.headercontainer {
    
}

.logo {
    
    
}

.header-links{
    
}



ul {
    position: relative;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
